<h2>Edit an address</h2>
<form action="/addresses/<%=@address.id%>" method="post">
  <input type="hidden" name="_method" value="patch" />
  <input type="text" name="first_name" placeholder="First Name" value="<%=@address.first_name%>"/>
  <br />
  <br />
  <input type="text" name="last_name" placeholder="Last Name" value="<%=@address.last_name%>"/>
  <br />
  <br />
  <input type="text" name="address1" placeholder="Address" value="<%=@address.address1%>" />
  <br />
  <br />
  <input type="text" name="address2" placeholder="Unit or P.O. Box" value="<%=@address.address2%>"/>
  <br />
  <br />
  <input type="text" name="city" placeholder="City" value="<%=@address.city%>" />
  <br />
  <br />
  <input type="text" name="state" placeholder="State" value="<%=@address.state%>" />
  <br />
  <br />
  <input type="text" name="zipcode" placeholder="Zipcode" value="<%=@address.zipcode%>" />
  <br />
  <br />
  <input type="phone" name="[address]phone_number" placeholder="Phone Number 1234567890" value="<%=@address.phone_number%>"/>
  <br />
  <br />
  <input type="email" name="[address]email_address" placeholder="Email" value="<%=@address.email_address%>" />
  <br />
  <br />
  <textarea rows="4" cols="50" name="[address]comments" placeholder="Enter your comments here" ><%=@address.comments %></textarea>
  <br />
  <br />
  <input type="submit" name="submit" value="Submit" />
</form>
